{% extends 'base.html' %}
{% block head%}
<title>
    Home
</title>
{% endblock %}



{% block body%}

<style>

    
.fab {
   width: 50px;
   height: 50px;
   background-color: rgb(3, 107, 15);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   
   font-size: 50px;
   line-height: 45px;
   color: rgb(255, 255, 255);
   text-align: center;
   
   position: fixed;
   right: 100px;
   bottom: 50px;
   
  transition: all 0.1s ease-in-out;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<main class="container">
    <div class="p-4  mb-5 text-white text-center rounded " style="border-radius: 57px;
    background-color: linear-gradient(to right bottom, #f2b26e, #ffbaa9, #ffcfdd, #fee9fa, #ffffff);
    box-shadow:  27px 27px 54px #b88290,
                 -27px -27px 54px #ffc8dc;
    ">
        <div class="col text-center"  style="border-radius: 57px;
        background-color: linear-gradient(to right bottom, #f2b26e, #ffbaa9, #ffcfdd, #fee9fa, #ffffff);
       
        
        ">
            <h1 class="display-4 text-center">Placement Resources</h1>

        </div>
    </div>
</main>

{% for i in all_data %}
<div class="row g-0 border  mb-2 rounded overflow-hidden flex-md-row  h-md-250 position-relative" style="padding: 10px; background-color: aliceblue; border: #666; border-radius: 2px; margin-left: 75px; margin-right: 75px;">


    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Last Update {{i["Date"]}}</strong>
        <h3 class="mb-0  text-anchor fst-italic ">{{i['CompanyName'] }}</h3>
        <div class="mb-1 text-muted">Credit {{i['Email']}}</div>
        {% for j in i["QQuestions"] %}
        <p class="card-text text-dark mb-auto">{{j}}</p>
        {% endfor %}
       
    </div>





</div>
{% endfor %}


<main>
    <a href='/Add_Questions'>
    <div class="fab" >  
    +
</div></a>
</main>
{% endblock %}
</body>

</html>