{% extends 'base.html' %}
{% block head%}
<title>
    Home
</title>
{% endblock %}



{% block body%}

<br>
<br>
<div  style="margin: auto;">
  
<div style="margin-left: 40%;">
                        <img src="static\sucess.png" alt="banner-img" width="200" height="250">
</div>

</div>
<div style="margin-left: 25%;">
<br>
<h3 class="mb-0" >Your Request Has Been Placed Successfully</h3>
<br>

<a  style="margin-left: 25%" href="/home">Return to Home</a>
                  
</div>                 

                
               
                
     

   






{% endblock %}

</body>

</html>